.activeCourse{
  min-height: 70vh;

  .activeCourse--box{
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &__titles {
      color: #353535;
      font-size: 16px;
      font-weight: 600;

      &--title {
        margin: 0 10px;
        width: 100%;
        flex-wrap: wrap;
        height: 50px;
      }
    }
  }
}