
.register{
  background: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  & button {
    width: 200px;
    height: 30px;
    color: #FFFFFF;
    background: #01487E;
    border-radius: 5px;
    margin: 15px 0 0 50px;
  }
  &--check {
    display: inline-block;
    opacity: 1;
    width: 300px;
    height: 250px;
    background: white;
    border-radius: 5px;
    &--icon{
      padding: 25px 0 15px 120px;

      color: #01487E;
      font-size: 40px;
    }
    & h2 {
      color: #000000;
      display: flex;
      justify-content: center;
    }
    & p {
      display: flex;
      justify-content: center;
      padding: 10px 0 0 0;
      font-family: Poppins,sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 27px;
    }
    & button {
      width: 200px;
      height: 30px;
      color: #FFFFFF;
      background: #01487E;
      border-radius: 5px;
      margin: 15px 0 0 50px;

    }
  }
}
