.test{
  background: #E5E5E5;
  &--content{

    &.active{
      transition: 0.5s;
      transform: scale(1);
    }
    &--btn{
      padding: 10px 10px 0 0;
      color: #01487E;
    }

    &--texts{
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: start;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &__text{
        margin: 10px 0;
        font-weight: 700;
        font-size: 18px;
        &--decor{
          font-weight: 500;
        }
      }
    }

  }
}