#cour{
  padding-top: 100px;
  padding-bottom: 100px;
  background: #F6F5F5;


  .cour--box{

    &--logo{
      padding-top: 44px;
      padding-bottom: 21px;
      width: 70px;
      display: flex;
      justify-content: space-between;
    }

    &--head{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 50px;

      &--titles{
        width: 50%;

        &--title{
          font-style: normal;
          font-weight: bold;
          font-size: 36px;
          line-height: 54px;
          /* identical to box height */
          margin-bottom: 10px;


          color: #01487E;
        }
        &--desc{
          width: 350px;
          font-style: normal;
          font-weight: 200;
          font-size: 16px;
          line-height: 132%;
          /* or 24px */
          margin-bottom: 20px;


          color: #00080A;
        }

        &--btn{
          width: 236px;
          height: 40px;
          border-color: #01487E;
          margin-bottom: 60px;

          background: #01487E;
          border-radius: 5px;


          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
          /* identical to box height */


          color: #FFFFFF;
        }
      }

      &--dates{
        background: #FFFFFF;
        border-radius: 5px;
        box-shadow: 5px 5px 25px rgba(100, 100, 100, 0.15);

        &--start{
          width: 252px;
          height: 100px;
          &--title{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background: #01487E;
            text-align: center;

            font-weight: 300;
            font-size: 18px;
            line-height: 27px;
            /* identical to box height */


            color: #FFFFFF;
          }

          &--desc{
            text-align: center;
            padding-top: 20px;

            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            /* identical to box height */


            color: black;
          }

        }
        &--end{
          width: 252px;
          height: 100px;
          &--title{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background: #01487E;
            text-align: center;

            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            /* identical to box height */


            color: #FFFFFF;
          }

          &--desc{
            text-align: center;
            padding-top: 20px;

            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            /* identical to box height */


            color: black;
          }

        }
      }


    }

    &__middle{
      padding-bottom: 43px;
      &__title{
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 45px;
        color: #01487E;
        padding-bottom: 30px;
      }

      &__desc{
        width: 70%;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 29px;

        color: #000000;
      }


    }

    &--accordion{
      margin-bottom: 50px;


      &--title{
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 54px;

        /* identical to box height */

        color: #01487E;
      }

      &--block{
        width: 80%;
        padding-top:35px;
      }
    }

    &--test{
      &--title{
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 5px;


        color: #01487E;
      }

      &--desc{
        width: 70%;
        margin-bottom: 30px;
      }
      &--btn{
        width: 236px;
        height: 40px;
        border-color: transparent;
        margin-bottom: 60px;

        background: #01487E;
        border-radius: 5px;

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */


        color: #FFFFFF;
      }
    }

  }
}