#person{
  flex-wrap: wrap;
  padding: 50px 0 150px 0;
  width: 100%;
  background: #E5E5E5;



    .person__teg{
      font-family: Poppins,sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      color: #01487E;
      line-height: 45px;
      text-align: center;
      margin-left: 26%;
    }

  .contentBtn {
    display: flex;
    justify-content: space-between;

    .btn {
      box-shadow: 0 2px 4px rgba(100, 100, 100, 0.15);
      flex-wrap: wrap;
      margin-bottom: 50px;
      background: #FFFFFF;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      width: 300px;
      height: 100%;


      &--input {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 220px;
        color: white;
        background: #01487E;
        border-radius: 5px;
        outline: none;
        margin: 0 0 20px 38px;

      }

      &.active {
        background: grey;
        color: #FFFFFF;
        display: block;
      }

      & h2 {
        display: flex;
        justify-content: center;
        font-size: 18px;
        width: 100%;
        text-align: center;
      }

      &--user {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        border-radius: 50%;
        margin: 8px 0 9px 0;
        color: #FFFFFF;

        &--icon {
          width: 60px;
          height: 60px;
          padding: 15px;
          border-radius: 50%;
          color: #FFFFFF;
          background: #01487E
        }

        &--photo {

          width: 90px;
          height: 90px;
          border-radius: 50%;
          //background: #01487E
        }
      }


      &--btns {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        & input[type="file"] {
          opacity: 0;
          margin: 0 0 0 0;
        }

        &--div {
          width: 220px;
          height: 42px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 20px 0 0 0;

          & p {
            position: absolute;
            width: 123px;
            height: 24px;
            font-weight: 500;
            font-size: 16px;
          }

          &--iconTrash {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 42px;
            height: 42px;
            padding: 8px;
            color: #01487E;
            cursor: pointer;
            border: 2px solid #01487E;
            box-sizing: border-box;
            border-radius: 10px;

            &:hover {
              transition: 0.2s;
              background: darkred;
              border: 2px solid darkred;
              border-radius: 10px;
              color: white;
            }
          }

          &--innn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            height: 42px;
            color: white;
            font-size: 16px;
            background: #01487E;
            border-radius: 5px;
            cursor: pointer;
          }

          &--label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            height: 42px;
            color: white;
            font-size: 16px;
            background: #01487E;
            border-radius: 5px;
            cursor: pointer;
          }
        }

        &--btnSubmit {
          margin: 20px 0 0 0;
          width: 220px;
          height: 42px;
          color: #FFFFFF;
          font-size: 16px;
          border-radius: 5px;
          background: #01487E;
        }

        &--innn2 {
          & span {
            position: absolute;
            width: 220px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
          }

          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 220px;
          height: 42px;
          margin: 20px 0 0 0;
          color: white;
          font-size: 16px;
          background: #01487E;
          border-radius: 5px;
        }

        &--innn3 {

          & span {
            position: absolute;
            width: 220px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
          }

          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 220px;
          height: 42px;
          margin: 20px 0 0 0;
          color: white;
          font-size: 16px;
          background: #01487E;
          border-radius: 5px;
        }

        &--tabRoute1 {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 220px;
          height: 42px;
          margin: 20px 0 0 0;
          color: red;
          font-size: 16px;
          background: #01487E;
          border-radius: 5px;
          cursor: pointer;
        }

        &--tabRoute {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 220px;
          height: 42px;
          margin: 20px 0 10px 0;
          color: white;
          font-size: 16px;
          background: #01487E;
          border-radius: 5px;
          cursor: pointer;
          //padding: 0 0 25px 0;

          &.active {
            background: #6A6A6A;
            color: #FFFFFF;
          }
        }


      }

    }

    .person {
      flex-wrap: wrap;
      width: 70%;

      & h3 {
        font-size: 25px;
      }

      &--content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 50px 0 0 0;

        &--start {
          display: flex;
          justify-content: space-between;

          &--name {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px 0 0;
            width: 357px;
            height: 53px;
            background: #ffffff;
            border: 1px solid #ffffff;
            box-shadow: 5px 5px 25px rgba(100, 100, 100, 0.15);
            box-sizing: border-box;
            border-radius: 5px;
          }

          &--number {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            width: 357px;
            height: 53px;
            background: #ffffff;
            border: 1px solid #ffffff;
            box-shadow: 5px 5px 25px rgba(100, 100, 100, 0.15);
            box-sizing: border-box;
            border-radius: 5px;
          }
        }

        &--center {
          margin: 35px 0 0 0;
          display: flex;
          justify-content: space-between;

          &--position {
            width: 357px;
            height: 132px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            text-align: start;
            background: #ffffff;
            border: 1px solid #ffffff;
            box-shadow: 5px 5px 25px rgba(100, 100, 100, 0.15);
            box-sizing: border-box;
            border-radius: 5px;
          }

          &--organization {
            width: 357px;
            height: 132px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            text-align: start;
            background: #ffffff;
            border: 1px solid #ffffff;
            box-shadow: 5px 5px 25px rgba(100, 100, 100, 0.15);
            box-sizing: border-box;
            border-radius: 5px;
          }
        }

        &--end {
          margin: 35px 0 0 0;
          display: flex;
          justify-content: space-between;

          &--email {
            width: 357px;
            height: 53px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background: #ffffff;
            border: 1px solid #ffffff;
            box-shadow: 5px 5px 25px rgba(100, 100, 100, 0.15);
            box-sizing: border-box;
            border-radius: 5px;
          }

          &--password {
            width: 357px;
            height: 53px;
            background: #ffffff;
            border: 1px solid #ffffff;
            box-shadow: 5px 5px 25px rgba(100, 100, 100, 0.15);
            box-sizing: border-box;
            border-radius: 5px;

            &--button {
              width: 357px;
              height: 53px;
            }
          }
        }
      }

      &__passport{
        padding-top: 50px;
        width: 100%;

        &--block{
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          align-items: center;
        }
      }

    }

    .my-courses {
      flex-wrap: wrap;
      width: 65%;

      & h3 {
        margin: 0 0 0 15%;
        font-size: 24px;
      }

      &--p1 {
        color: #747474;
        font-size: 18px;
      }

      &--p2 {
        width: 166px;
        height: 54px;
        color: #747474;
        font-size: 18px;
      }

      &--pp {
        color: #747474;
        font-size: 18px;
      }

      &--bank {
        width: 100%;
        height: 80px;
        background: #FFFFFF;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        padding: 0 15px 0 15px;
        align-items: center;
        cursor: pointer;
        margin: 5px 0 20px 0;

        &--p {
          color: #01487E;
        }

        &--icon {
          color: #01487E;
          width: 50px;
          height: 25px;
        }
      }

      &--business {
        width: 100%;
        height: 80px;
        background: #FFFFFF;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        padding: 0 15px 0 15px;
        align-items: center;
        cursor: pointer;
        margin: 5px 0 20px 0;

        &--icon {
          color: #01487E;
          width: 50px;
          height: 25px;
        }
      }

      &--active {
        width: 100%;
        height: 80px;
        background: #FFFFFF;
        border: 1px solid #00C32B;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        padding: 0 15px 0 15px;
        align-items: center;
        cursor: pointer;
        margin: 5px 0 20px 0;

        &--pp {
          color: #00C32B;
        }

        &--icon {
          color: #00C32B;
          width: 50px;
          height: 25px;
        }
      }

      &--notactive {
        width: 100%;
        height: 80px;
        background: #FFFFFF;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        padding: 0 15px 0 15px;
        align-items: center;
        cursor: pointer;
        margin: 5px 0 20px 0;

        &--pp {
          color: #01487E;
        }

        &--icon {
          color: #01487E;
          width: 50px;
          height: 25px;
        }

      }

    }

  }
}


